@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

html, body {
  background-color: #050505;
  color: #ffffff;
  scroll-behavior: smooth;
}